.custom-fram {
    -fx-font-size			: 1.1em;
    -fx-font-family			: cursive;
	-fx-border-radius		: 20.0;
	-fx-border-width		: 2.0;
	-fx-border-color		: #000000;
	-fx-padding				: 4.0;
	-fx-background-color	: #FFFFFF;
	-fx-background-radius	: 20.0;
}

/* ------------------------------------------------------ */
/* button */
.button{
	-fx-padding				: 2.0;
}
.button:focused{
   -fx-background-color		: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
   -fx-background-insets	: 0.0 0.0 -1.0 0.0, 0.0, 1.0, 2.0;
   -fx-background-radius	: 3.0px, 3.0px, 2.0px, 1.0px;
}
.button.close {
	-fx-graphic 			: url("img/close.png");
}

/* ------------------------------------------------------ */
/* header */
.header .right {
	-fx-padding				: 2.0;
	-fx-spacing				: 1.0;
	-fx-alignment           : center-right;
}

.header .left {
	-fx-padding				: 2.0;
	-fx-spacing				: 2.0;
	-fx-alignment           : center-left;
}